

body{
    background-image: url(..//../assets/image/avatar-fire-and-ash-3840x2160-24703.jpg);
  background-size: contain;
}
.film-link {
  text-decoration: none;
  color: white;

  display: flex;
  flex-direction: column;

  gap: 22px; 
}

.film-title {
  margin-bottom: 6px; 
  text-align: center;
}

.film-img {
  width: 100%;
  border-radius: 20px;
  transition: transform 0.4s ease;
}


.film-link:hover .film-img {
  transform: scale(1.05);
}

.movie-card {
  position: relative;
  background: linear-gradient(140deg, #ff00cc, #3333ff, #00ffd5);
  background-size: 300% 300%;
  animation: gradientMove 6s ease infinite;
  box-shadow: 0 0 25px rgba(120, 115, 245, 0.4);
}

.movie-card::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #0b0b0b;
  border-radius: 28px;
  z-index: 1;
}

.movie-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 32px;
  filter: blur(18px);
  background: inherit;
  opacity: 0.6;
  z-index: 0;
}

.movie-card > * {
  position: relative;
  z-index: 2;
}

/* Poster effect */
.movie-poster {
  border-radius: 22px;
  transition: 0.5s;
}

.movie-card:hover .movie-poster {
  transform: scale(1.07);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 10%;
  }
}
