.textarea{
    
  font-size: 24px;
  border: 1px solid black;
  padding: 8rem;
  height: 10em;

  outline: 1px solid rgba(0,0,0,0.2);
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg style='outline: 1px solid red%3B' width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:600%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E%3Cfilter id='distortion' width='100' height='100'%3E%3CfeTurbulence type='turbulence' baseFrequency='0.05' numOctaves='2' result='turbulence'%3E%3Canimate attributeName='baseFrequency' dur='14s' values='.1%3B.2%3B.1' repeatCount='indefinite' /%3E%3C/feTurbulence%3E%3CfeDisplacementMap in2='turbulence' in='SourceGraphic' scale='20' xChannelSelector='R' yChannelSelector='G'/%3E%3C/filter%3E%3Cpath d='M5 5 l80 0l0 80l-80 0 l0 -80' filter='url(%23distortion)' stroke-linecap='butt' stroke='url(%23g)' stroke-width='10' stroke-dasharray='300'/%3E%3C/svg%3E")
    20 / 100;
}

body{
    background-image: url(..//../assets/image/avatar-fire-and-ash-3840x2160-24703.jpg);
  background-size: contain;
}
.head{
    color: white;
}